<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/404.css" />
    <title>404:page not found</title>
  </head>
  <body>
    <h5>❌&nbsp;(&nbsp;<i id="error-el"></i>&nbsp;)&nbsp;❌</h5>
    <h1>4😕4</h1>
    <h3>The page you are trying to access was not found??</h3>
    <script>
      const errorEl = document.querySelector("#error-el");
      errorEl.textContent = location.href;
    </script>
  </body>
</html>
