<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="./js/index.js" defer></script>
    <title>ALL-RITE_STORE</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <!-- HEADER OF THE PAGE -->
    <header>
      <img src="./img/logo.svg" alt="" />

      <h1>Dashboard</h1>

      <nav class="nav">
        <ul>
          <li><a href="./login">Login</a></li>
          <li><a href="./signup">Sign Up</a></li>
          <li><a href="">Promo Code</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
    </header>
    <section class="section-search">
      <form class="form-search">
        <span>
          <label for="search">
            <img src="/img/search.svg" alt="search icon" />
          </label>
          <input type="search" name="search" id="search" required />
        </span>
        <button type="submit">Search</button>
        <button type="reset" id="searchReset">Clear Search</button>
      </form>
    </section>
    <main class="main"></main>
  </body>
</html>
